.spinner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  flex-basis: 100%;

  svg {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
