// colors
$indigo: #3f51b5;
$lightGray: #f1f1f4;
$mediumGray: #e4e5e9;
$placeholderGray: #8e8e8e;
$blue: #e8f0fe;

// break points
$extraLarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 300px;

@function toRem($size) {
  @return calc($size / 16px * 1rem);
}
